<% if @issue.block_reason.present? %>
<div style="color:red">
  <%= issue_fields_rows do |rows|
    rows.left l(:label_board_locked), @issue.block_reason
    rows.left l(:field_blocked_at), format_date(@issue.blocked_at)
  end if @issue.block_reason %>
</div>
<% end %>