<div class="splitcontentleft">
    <%= form.fields_for :kanban_issue do |f| %>
      <p>
        <%= f.text_field :block_reason, :label => :label_board_locked, :size => 100 %>
      </p>
      <p>
        <%= f.date_field :blocked_at, :label => :field_blocked_at, :size => 10 %>
      </p>
    <% end %>
</div>